<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">No.Registro</ion-label>
        <ion-input placeholder="Ingresa numero de registro"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nombre Institucion</ion-label>
        <ion-input placeholder="Ingresa nuombre de la inatitucion"></ion-input>
      </ion-item>
      <ion-button color="danger" (click)="presentConfirmacion()">Agregar</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>No. Registro</ion-col>
    <ion-col>Nombre Institucion</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>1</ion-col>
    <ion-col>Tecnologico de Estudios Superiores de Ecatepec</ion-col>
  </ion-row>
</ion-grid>
