<ion-label>Seleciona una institucion</ion-label>
<p></p>
<ion-list >
  <ion-item >
    <ion-select interface="popover" placeholder="Seleccione Institucion" >
      <ion-select-option class="prueba" value="1" >Tecnologico de Estudios Superiores de Ecatepec</ion-select-option>
      <ion-select-option class="prueba" value="2">Tecnologico de Estudios Superiores de Veracruz</ion-select-option>
      <ion-select-option class="prueba" value="3">Tecnologico de Estudios Superiores de Tecamac</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>
<p></p>
<ion-label>Seleciona una division</ion-label>
<p></p>
<ion-list>
  <ion-item>
    <ion-select interface="popover" placeholder="Seleccione Division">
      <ion-select-option value="1">Division en Sistemas Computacionales</ion-select-option>
      <ion-select-option value="2">Division en Mecatronica</ion-select-option>
      <ion-select-option value="3">Division en Informatica</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>
<p></p>
<ion-button color="danger" (click)="presentConfirmacion()">Asignar</ion-button>


