<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Instituciones/Divisiones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list lines="full">
      <ion-item (click)="onClick(opciones.id, opciones.opcion)" *ngFor="let opciones of listamenu">
        <ion-label>{{opciones.opcion}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{titulo}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-grid >
      <ion-row>
        <ion-col [ngSwitch]="caso">
          <app-newinstitucion *ngSwitchCase="'1'"></app-newinstitucion>
          <app-nuevadivision *ngSwitchCase="'2'"></app-nuevadivision>
          <app-asignadivision *ngSwitchCase="'3'"></app-asignadivision>
          <app-modeliinstitucion *ngSwitchCase="'4'"></app-modeliinstitucion>
          <app-modelidivision *ngSwitchCase="'5'"></app-modelidivision>
          <app-modeliasignacion *ngSwitchCase="'6'"></app-modeliasignacion>
          <app-consultas *ngSwitchCase="'7'"></app-consultas>
          <p *ngSwitchDefault>
            <ion-label>INICIO</ion-label>
            <ion-img style="width: 150px; height: 150px;" src="assets/logotese.jpg"></ion-img>
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>
