<form [formGroup]="datosnpos">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Nombre del Posgrado</ion-label>
          <ion-input formControlName="nombre" placeholder="Ej. Maestría en Ingeniería en Sistemas Computacionales"></ion-input>
          <ion-label *ngIf="datosnpos.controls.nombre.invalid && datosnpos.controls.nombre.touched">Campo Requerido
          </ion-label>
        </ion-item>
        <ion-button [disabled]="!datosnpos.valid" color="danger" (click)="presentConfirmacion()">Agregar</ion-button>
      </ion-col>
    </ion-row>
    <p></p>
    <p></p>
    <ion-row>
      <ion-col>No. Registro</ion-col>
      <ion-col>Nombre del Posgrado</ion-col>
      <ion-col>Modificar</ion-col>
      <ion-col>Eliminar</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>1</ion-col>
      <ion-col>Maestría en Ingeniería en Sistemas Computacionales</ion-col>
      <ion-col>
        <ion-button color="warning" (click)="modificar()">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="danger" (click)="eliminar()">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
